
<ion-header>

  <ion-navbar color="speedapp">
        <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchDefinition();"
    [showCancelButton]="shouldShowCancel"
    (ionCancel)="onCancel($event)"
    placeholder="Word Definitions">
  </ion-searchbar>
  </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="loader" align="center">
        <img src="assets/imgs/loader.gif" width="24">
      </div>
<br>

  <div *ngFor="let item of results" (click)="goToDefinition($event,item);" >
    <span style="margin:5px;font-size:16px" *ngIf="search">{{item.term}}
    <hr>
  </span>
  </div>
    <p align="center" style="color:black;font-size: 26px">
        <b>WAVES</b></p>
      
        <p style="word-wrap : break-word;"></p>
      
        <p align="justify">If a stone is dropped into a quiet pool of water, the spot where the
        stone enters the water is disturbed. The disturbance, however, is not limited to one
        spot only. The particles disturbed by the entrance of the stone disturb particles
        adjacent to them, and these, in turn disturb other particles adjacent to them and so
        on. This sets up a <i style="color:blue">wave</i> which travels through out the water
        to other parts. A <b style="color:crimson">wave</b> <i style="color:blue">is a
        disturbance which travels through a medium and transfers energy from one point to
        another without causing any permanent displacement of the medium</i>. As the
        disturbance moves through the water, it does not move individual particles very far
        from their equilibrium positions. After the disturbance passes, the particles return to
        their equilibrium positions.</p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">Classes of Waves</b><br /></p>
      
        <p align="justify"></p>
      
        <ol>
          <li>
            <b style="color:crimson">Electromagnetic waves</b>; theses are waves that do no
            require a material medium for their propagation. Examples are light rays, radio
            waves, x &ndash; rays and gamma rays<br />
      
            <p align="justify"></p>
          </li>
      
          <li>
            <b style="color:crimson">Mechanical waves</b>; these are waves that require a
            material medium for their propagation. Examples are sound waves, water waves and
            wave generated in a string.
      
            <p align="left"><br /></p>
      
            <p align="justify"></p>
          </li>
        </ol>Waves can also be classified into two types based on the direction of their
        motion. These are:<br />
      
        <p align="justify"></p>
      
        <ol>
          <li>
            <b style="color:crimson">Transverse waves</b>; these are waves in which the
            direction of travel of the wave is perpendicular to the direction of vibration of
            the individual particles of the medium. Example are water wave, wave generated by
            plucking a string such as guitar.<br />
            <img src="http://speedapp.ididev.com/apps/img/wav1.png" alt="" />
      
            <p align="left"><br /></p>
      
            <p align="justify"></p>
          </li>
      
          <li><b style="color:crimson">Longitudinal waves</b>; these are waves in which the
          direction of travel of the wave is parallel to the direction of vibration of the
          individual particles of the medium. Examples are sound waves, wave generated when a
          compressed spring is released.<br /></li>
        </ol><img src="http://speedapp.ididev.com/apps/img/wav2.png" alt="" />
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">Progressive waves</b> are waves in which
        the wave profile moves along the speed of the wave. Both the transverse and
        longitudinal waves are examples of progressive waves.</p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">Stationary waves</b> are waves that are
        obtained when two progressive waves of equal amplitude and frequency are travelling in
        opposite directions and combine.</p>
      
        <p align="left"><br /></p>
      
        <table border="1" cellspacing="1" cellpadding="1" width="100%">
          <tr>
            <th style="color: white; background-color: darkred">Stationary Wave</th>
      
            <th style="color: white; background-color: darkred">Progressive Wave</th>
          </tr>
      
          <tr>
            <td>Some points are always at rest.</td>
      
            <td>No points are permanently at rest.</td>
          </tr>
      
          <tr>
            <td>Amplitudes of vibrations are different.</td>
      
            <td>Amplitudes of vibration of particles are the same.</td>
          </tr>
      
          <tr>
            <td>The energy of the wave is stored.</td>
      
            <td>The energy of the wave is seen to progress or travel.</td>
          </tr>
        </table>
      
        <p align="justify"></p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">Common Term Associated with
        Waves</b><br /></p>
      
        <p align="justify"></p>
      
        <ol>
          <li>
            <i style="color:blue">Wavelength</i>; this is the distance between two adjacent
            crests of a wave. It is measured in meters or centimeters. See the figure
            below.<br />
      
            <p align="justify"></p>
          </li>
      
          <li>
            <i style="color:blue">Frequency</i>; this is the number of waves passing a point in
            a second. It is measured in Hertz (that is number if waves per second). See the
            figure below.<br />
      
            <p align="justify"></p>
          </li>
      
          <li>
            <i style="color:blue">Amplitude</i>; it is the maximum displacement of the
            vibrating particles from the equilibrium or mean position. See the figure below.
      
            <p align="left"><br /></p>
      
            <p align="justify"></p>
          </li>
        </ol><img src="http://speedapp.ididev.com/apps/img/wav3.png" alt="" />
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">The Wave Equation</b><br /></p>
      
        <p align="justify">The speed of any wave can be calculated from the wave formula</p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b>V = f x &lambda;</b><br /></p>
      
        <p align="justify">Where V = speed of wave,<br />
        <br />
        f = frequency and<br />
        <br />
        &lambda; = wavelength.</p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">WORKED EXAMPLE</b><br /></p>
      
        <p align="justify"><b style="color:crimson">Example 1</b><br /></p>
      
        <p align="justify">Calculate the speed of a wave with wavelength of 6cm and a frequency
        of 12Hz.<br /></p>
      
        <p align="justify"><u>Solution<br /></u></p>
      
        <p align="justify">V = f x &lambda;<br /></p>
      
        <p align="justify">V = 12 x 6<br /></p>
      
        <p align="justify"><u>V = 72cm/s</u></p>
      
        <p align="left"><br /></p>
      
        <p align="justify"><b style="color:crimson">Example 2</b></p>
      
        <p align="justify">Calculate the wavelength of a wave with a speed of 36m/s and a
        frequency of 4Hz.<br /></p>
      
        <p align="justify"><u>Solution<br /></u></p>
      
        <p align="justify">V = f x &lambda;</p>
      
        <table>
          <tr>
            <td>&rArr; &lambda;</td>
      
            <td>=</td>
      
            <td>
              V<br />
              <hr />
              f
            </td>
          </tr>
      
          <tr>
            <td>&zwj;</td>
      
            <td></td>
      
            <td></td>
          </tr>
      
          <tr>
            <td>&rArr; &lambda;</td>
      
            <td>=</td>
      
            <td>
              36<br />
              <hr />
              4
            </td>
          </tr>
        </table><br />
        <u>&lambda; = 12m</u>
</ion-content>
