.container
{
  display:block;
  font-size: 30px;
  color:#494949;
  text-align:center;
  list-style-type: none;
  width:31%;
  height:100px;
  overflow:hidden;
  float:left;
  padding:10px;
  background-color:rgb(255, 255, 255);
  margin:3.6px;
}