table {
    border: 0px solid ;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
	font-size:13px!important;
}

table tr {
    border: 0px solid #ddd;
    padding: 2px;
}

table th, table td {
    padding: 9px;
    text-align: left;
}

table th {
    text-transform: uppercase;
    letter-spacing: 1px;
}